.appointment {
    width: 90%;
    height: 20%;
    background-color: royalblue;
    text-align: left;
    color: white;
    font-size: 12px;
    font-weight: 400;
    padding: 3px;
    letter-spacing: 0px;

    @media (min-width: 768px) {
        font-size: 16px;
    }

    &-half {
        height: 45%;
    }

    &-three {
        height: 70%;
    }

    &-full {
        height: 100%;
    }

    &-start15 {
        position: relative;
        top: 25%;
    }

    &-start30 {
        position: relative;
        top: 50%;
    }

    &-start45 {
        position: relative;
        top: 75%;
    }

    &:hover {
        background-color: rgb(65, 105, 225, 0.8);
    }
}
