.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;

    & .time,
    .vendor,
    .buyer {
        display: flex;
        flex-direction: column;
    }

    &.time {
        gap: 5px;
    }

    & label {
        color: rgb(75, 85, 99);
        font-size: 1.25rem;
        font-weight: 500;
        margin: 5px;
    }

    & input {
        appearance: none;
        background-color: none;
        border: 1px solid royalblue;
        line-height: 0;
        font-size: 17px;
        width: 100%;
        display: block;
        box-sizing: border-box;
        padding: 10px 15px;
        border-radius: 60px;
        color: royalblue;
        font-weight: 100;

        &:focus,
        &:valid {
            outline: none;
            background: royalblue;
            color: white;
        }

        &:valid {
            outline: none;
            background: royalblue;
            color: white;
        }
    }

    & .buttons {
        align-self: flex-end;

        & button {
            margin: 5px 10px 0 0;
            padding: 5px;
            cursor: pointer;
            background-color: white;
            border: 1px solid royalblue;
            line-height: 0;
            font-size: 17px;
            display: inline-block;
            box-sizing: border-box;
            padding: 20px 15px;
            border-radius: 60px;
            color: royalblue;
            font-weight: 100;
            letter-spacing: 0.01em;
            position: relative;
            z-index: 1;

            &:hover,
            &:focus {
                color: white;
                background-color: royalblue;
            }

            &:first-of-type {
                &:hover,
                &:focus {
                    color: white;
                    background-color: red;
                }
            }
        }
    }
}
